<div style="top:-2px;" class="inline-block w-4 h-4 border-2 rounded-full border-customGreen bg-customGreen relative mr-2">
    <span class="block w-full h-full rounded-full bg-transparent transition-background ease-in-out duration-300"></span>
</div>