@font-face {
    font-family: "ABCGravity-Wide";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("ABCGravity-Wide.woff2") format("woff2"),
    url("ABCGravity-Wide.woff") format("woff");
}
@font-face {
    font-family: "NeueHaasDisplay-Black";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("NeueHaasDisplayBlack.woff2") format("woff2"),
    url("NeueHaasDisplayBlack.ttf") format("ttf");
}

h2{
    font-family: 'ABCGravity-Normal-Trial' !important;
}