@font-face {
    font-family: "ABCGravity-Normal-Trial";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("ABCGravity-Normal-Trial.woff2") format("woff2"),
    url("ABCGravity-Normal-Trial.otf") format("opentype");
}

h2{
    font-family: 'ABCGravity-Normal-Trial' !important;
}